*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}


.App {
  text-align: center;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

.header {
  width: 100%;
}

.nav {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
}

.nav_button {
  cursor: pointer;;
}

.article_card {
  margin-bottom: 20px;
  color: black;
  border-bottom: 5px;
  border-color: #088f96;
  border-style:solid;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  max-width: 500px;
  cursor: pointer;
}


.container {
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
}

.text_link {
  text-decoration: none;
  color: inherit;
}

.article_card_title {
  font-weight: bold;
  padding-top: 20px;
  }

.article_card_title:hover {
  font-style: oblique;
}  

.article_posted_by {
  font-size: 14px;
  color: #7e808f;
  text-align: left;
}

.article_card_topic {
  font-weight: bold;
  font-family:monospace;
  font-size: 14px;
}


.article_card_comments {
  margin-top: 10px;
  font-size: 11px;
  font-weight: bold;
  color: #7e808f;
}

.article_body {
  margin: 20px 0px 20px 0px;
}

